<div class="men">
    <h1 class="contact_head">Our Address</h1>
    <div class="contact_box">
        <div class="col-sm-4">
            <address class="addr">
                <p> 122 Bellamy Ave, Birch Hills</p>
                <dl>
                    <dt>Free Phone:</dt>
                    <dd>1-800-55-6980</dd>
                </dl>
                <dl>
                    <dt>Telephone:</dt>
                    <dd>1-800-55-6980</dd>
                </dl>
                <dl>
                    <dt>Fax</dt>
                    <dd>1-800-55-6980</dd>
                </dl>
            </address>
        </div>
        <div class="col-sm-8">
            <div id="googleMap" style="width:600px; height:380px;"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="contact_form">
        <h2>Contact Form</h2>
        <form>
            <div class="row_5">
                <input type="text" name="UserName" class="text" placeholder="Your Name" />
                <input type="text" name="EmailAddress" class="text" style="margin-left:20px" placeholder="Your Email Address">
                <input type="text" name="EmailSubject" class="text" style="margin-left:20px" placeholder="Subject ">
                <div class="clearfix"></div>
            </div>
            <div class="row_6">
                <textarea name="Message" placeholder="Message">Message:</textarea>
            </div>
            <input name="submit" type="submit" id="submit" value="Send Message">
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<script>
    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(52.9842203, -105.43553250000002),
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(52.9842203, -105.43553250000002)
        });

        var inforwindow = new google.maps.InfoWindow({
            content:"<b> B &amp; H Canvas </b><br/>122 Bellamy Ave<br/> Birch Hills"
        });

        google.maps.event.addListener(marker, "click", function () {
            inforwindow.open(map, marker);
        });

        inforwindow.open(map,marker);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
