<div class="men">
    <div class="account-in">
        <h2>Account</h2>
        <div class="col-md-7 account-top">
            <form>
                <div>
                    <span>User Name*</span>
                    <input type="text" name="UserName">
                </div>
                <div>
                    <span class="pass">Password*</span>
                    <input type="password" name="Password">
                </div>
                <input type="submit" name="submit" id="submit" value="Login">
            </form>
        </div>
        <div class="col-md-5 left-account ">
            <a href="#"><img class="img-responsive " src="https://www.dropbox.com/s/{{image.image_name}}?dl=1" alt=""></a>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>